<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.book.BookDaoImpl">
  
<!-- 훼손 도서 목록 조회 -->
<select id="damagedBookList" resultType="bookVo">
	SELECT b.THUMBNAIL , b.TITLE , b.AUTHORS , b.PUBLISHER , b.CONTENTS 
		FROM BOOK b JOIN BOOK_DETAIL bd
		ON b.BOOK_SEQ = bd.BOOK_SEQ 
		WHERE bd.DAMAGE_SEQ = 4
</select>

<!-- 미훼손 도서 목록 조회 -->
<select id="undamagedBookList" resultType="bookVo">
	<![CDATA[
	SELECT b.THUMBNAIL , b.TITLE , b.AUTHORS , b.PUBLISHER , b.CONTENTS 
		FROM BOOK b JOIN BOOK_DETAIL bd
		ON b.BOOK_SEQ = bd.BOOK_SEQ 
		WHERE bd.DAMAGE_SEQ < 4 
	]]>
</select>

<!-- 책 등록 -->
<insert id="insertBook" parameterType="bookVo">
	INSERT INTO BOOK
		(BOOK_SEQ, THUMBNAIL, TITLE,
		AUTHORS, PUBLISHER, DATETIME,
		ISBN, CONTENTS, PRICE,
		DELFLAG)
	VALUES(BOOK_SEQ.NEXTVAL,#{thumbnail}, #{title},
		#{authors}, #{publisher}, #{datetime},
		#{isbn}, #{contents}, #{price},
		'N')
</insert>

 <!-- 책 select -->
<select id="bookList" parameterType="bookVo" resultType="bookVo">
		
		SELECT THUMBNAIL, TITLE,
		AUTHORS, PUBLISHER, DATETIME,
		ISBN, CONTENTS, PRICE,
		DELFLAG , COUNT(TITLE)
		FROM BOOK
		WHERE TITLE LIKE '%' || #{title} || '%'
		AND DELFLAG = 'N' GROUP BY THUMBNAIL, TITLE,
		AUTHORS, PUBLISHER, DATETIME,
		ISBN, CONTENTS, PRICE,
		DELFLAG 
</select> 

</mapper>
